th{
    background-color: #F0F0F0;
}

th, td{
    padding: 3px 20px;
    font-size: 14px;
    width: 250px;
    height: 40px;
    border: 0.5px solid #DDDDDD;
}

.horizontal{
    width: 75%;
    font-weight: bold;
}

td{
    text-align: center;
}

table{
    border-radius: 50px;
    border-spacing: 0px;
}

input[type="checkbox"]{
    cursor: pointer;
}
